div.about_container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: "Jost", sans-serif, serif;
  position: relative;
  gap: 5px;
  border: 1px solid rgb(var(--border));
  border-radius: 15px;
  background: rgb(var(--bg));
  transition: color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  &:hover{
    box-shadow: 5px 5px 10px rgba(var(--border));
    background: rgb(var(--surface)/0.4);
  }
  >figure{
    width: 1px;
    height: 100%;
    position: absolute;
    left: calc(100% * 2/7);
    background-color: rgb(var(--border));
  }
  >div{
    padding: 20px;
  }
  >div.about_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    >div.about_location{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-weight: 300;
      >figure{
        color: rgb(var(--text-disabled));
        >svg{
          width: 18px;
          height: 18px;
        }
      }
    }
    >div.about_languages{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      >p{
        padding: 2px 10px;
        background: rgb(var(--border-disabled));
        border-radius: 8px;
      }
    }
    >div.about_title{
      >h3{
        font-size: 1.5rem;
      }
      >h4{
        font-size: 1.175rem;
        font-weight: 400;
        text-align: center;
      }
    }
    >img{
      width: 50%;
      border-radius: 50%;
    }
  }
  >div.about_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    >div.about_me{
      display: flex;
      flex-direction: column;
      gap: 10px;
      >h3{
        font-weight: 600;
        font-size: 2.275rem;
      }
      >p{
        text-align: start;
        font-size: 1rem;
        white-space: pre-wrap;
        font-weight: 300;
      }
    }
    >div.about_links{
      display: flex;
      align-items: center;
      gap: 15px;
      >a{
        display: flex;
        align-items: center;
        gap: 5px;
        &:hover{
          text-decoration: underline;
        }
        >figure{
          >svg{
            width: 16px;
            height: 16px;
          }
        }
        >p{
          font-weight: 300;
          font-size: 0.925rem;
        }
      }
    }
  }
}
@media(max-width: 1535px){
  div.about_container{
    >div.about_profile{
      font-size: 0.925rem;
    }
    >div.about_content{
      >div.about_me{
        gap: 5px;
        >h3{
          font-size: 1.75rem;
        }
      }
    }
  }
}
@media (max-width: 1279px) {
  div.about_container{
    >div.about_profile{
      >div.about_location{
        flex-direction: column;
        gap: 5px;
        >figure{
          order: 3;
          >svg{
            width: 22px;
            height: 22px;
          }
        }
        >span.dash{
          display: none;
        }
      }
    }
    >div.about_content{
      >div.about_me{
        gap: 5px;
        >h3{
          font-size: 1.5rem;
        }
        >p{
          font-size: 0.925rem;
        }
      }
    }
  }
}