li.timeline_item{
  background: rgb(var(--bg));
  transition: color 300ms ease-in-out;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 250px 1fr;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 10px;
  >div.left{
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
    display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: flex-start;
      padding: 0 10px;
      font-size: 0.95rem;
      >p{
        padding-top: 5px;
        font-weight: 600;
      }
    }
  >div.right{
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-family: "Jost", sans-serif;
      padding: 0 20px;
      gap: 10px;
      >div.title{
        text-transform: capitalize;
        font-family: "Teko", sans-serif;
        font-size: 1.5rem;
        >a{
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
          font-weight: 300;
          display: flex;
          align-items: center;
          gap: 5px;
          >h4{
            font-weight: 300;
            line-height: 1;
          }
          >figure{
            width: 16px;
            height: 16px;
          }
        }
        display: flex;
        align-items: center;
        gap: 4px;
        >h4{
          font-weight: 400;
          line-height: 1;
        }
      }
      >p.subtitle{
        font-weight: 400;
        font-size: 1.025rem;
        text-transform: capitalize;
      }
    }
    >figure{
      width: 1.5px;
      height: 100%;
      position: absolute;
      left: 260px;
      top: 0;
      background-color: rgb(var(--border-hover));
    }
  }

div.body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  >p{
    text-align: start;
    padding-left: 20px;
  }
  >p.title{
    text-transform: capitalize;
    padding-left: 0;
    font-weight: 600;
  }
  >ul{
    font-size: 0.975rem;
  }
  >ul.grid{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding-top: 10px;
    padding-left: 5px;
    >li{
      text-transform: capitalize;
      padding: 2px 0;
      background: rgb(var(--bg));
      text-align: center;
      border: 1px solid rgb(var(--border)/0.5);
      border-radius: 8px;
      font-weight: 300;
    }
  }
  ul.list{
    width: 100%;
    list-style: disc;
  }
}
button.handler{
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out, background-color 300ms ease-in-out;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px 24px;
  background: rgb(var(--bg));
  border: 1px solid rgb(var(--border-hover));
  &:hover{
    background-color: rgb(var(--text));
    color: rgb(var(--surface));
  }
  &:focus{
    outline: none;
  }
}
div.dropdown {
  overflow: hidden;
  width: 100%;
  transition: height 0.3s ease-out;
  height: 0;
}
@media(max-width: 1535px){
  li.timeline_item{
    >div.left{
      font-size: 1rem;
    }
    >div.right{
      gap: 5px;
      >div.title{
        font-size: 1.35rem;
      }
      >p.subtitle{
        font-size: 1rem;
      }
    }
  }
  div.body{
    font-size: 0.975rem;
    >ul{
      font-size: 0.875rem;
    }
    >ul.grid{
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
@media (max-width: 1023px) {
  li.timeline_item{
    grid-template-columns: 160px 1fr;
    gap: 20px;
    >div.left{
      padding: 0;
    }
    >div.right{
      padding: 0;
      >div.title {
        font-size: 1.125rem;
      }
      >p.subtitle{
        font-size: 1rem;
      }
    }
    >figure{
      display: none;
    }
  }
  div.body{
    >ul.grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 639px) {
  li.timeline_item{
    grid-template-columns: 1fr;
    gap: 0;
    >div.left{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 0;
      gap: 10px;
      font-size: 0.925rem;
      >p{
        font-weight: 400;
      }
    }
    >div.right{
      >div.title{
        font-size: 1.25rem;
      }
    }
  }
  div.body{
    padding-bottom: 5px;
  }
}