li.timeline_item{
  &:hover{
    background: rgb(var(--surface)/0.6);
  }
  background: rgb(var(--bg));
  border-radius: 12px;
  transition: color 300ms ease-in-out;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 10px;
    >div.left{
      text-transform: capitalize;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: flex-start;
      padding: 0 10px;
      >p.dates{
        font-weight: 600;
        font-size: 1.15rem;
      }
      >p.difference{
        font-family: "Jost", sans-serif;
        font-size: 1.025rem;
      }
    }
    >div.right{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-family: "Jost", sans-serif;
      padding: 0 20px;
      gap: 10px;
      >div.title{
        text-transform: capitalize;
        font-family: "Teko", sans-serif;
        >a{
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
          font-weight: 300;
          display: flex;
          align-items: center;
          gap: 5px;
          >h4{
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1;
          }
          >figure{
            width: 16px;
            height: 16px;
          }
        }
        display: flex;
        align-items: center;
        gap: 4px;
        >h4{
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1;
        }
      }
      >p.subtitle{
        font-weight: 400;
        font-size: 1.025rem;
        text-transform: capitalize;
      }
    }
    >figure{
      width: 1.5px;
      height: 100%;
      position: absolute;
      left: 210px;
      top: 0;
      background-color: rgb(var(--border));
    }
  }

div.body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  >p{
    text-align: start;
    padding-left: 20px;
  }
  >p.title{
    text-transform: capitalize;
    padding-left: 0;
    font-weight: 600;
  }
  >ul.grid{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding-top: 10px;
    padding-left: 5px;
    >li{
      text-transform: capitalize;
      padding: 2px 0;
      background: rgb(var(--bg));
      text-align: center;
      border: 1px solid rgb(var(--border)/0.5);
      border-radius: 8px;
      font-weight: 300;
      font-size: 0.975rem;
    }
  }
  ul.list{
    width: 100%;
    list-style: disc;
  }
}
button.handler{
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px 24px;
  &:hover{
    background-color: rgb(var(--bg));
  }
}
div.dropdown {
  overflow: hidden;
  width: 100%;
  transition: height 0.3s ease-out;
  height: 0;
}