div.contact_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid rgb(var(--border));
  border-radius: 15px;
  font-family: "Jost", sans-serif;
  >div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: start;
    >div.title{
      >h4{
        font-family: "Teko", sans-serif;
        font-size: 2.25rem;
      }
      >p{
        font-weight: 300;
        font-size: 1rem;
        text-align: start;
        white-space: pre-wrap;
      }
    }
  }
  >div.left{
    border-right: 1px solid rgb(var(--border));
    justify-content: space-between;
    >div.social_media{
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      >a.social_link{
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
      >.social_link{
        display: flex;
        align-items: center;
        gap: 8px;
        >svg{
          color: rgb(var(--text-hover)/0.8);
          width: 20px;
          height: 20px;
        }
        >p{
          color: rgb(var(--text-hover));
          text-transform: none;
          font-size: 1rem;
        }
      }
    }
  }
  >div.right{
    >form{
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
      row-gap: 20px;
      align-items: center;
      padding: 15px 0;
      >div.col-2{
        grid-column: span 2;
      }
      >div.col-3{
        grid-column: span 3;
      }
      >div.contact_input{
        position: relative;
        >label{
          position: absolute;
          top: -15px;
          left: 15px;
          background: rgb(var(--bg));
          padding: 2px 6px;
          font-size: 0.975rem;
          text-transform: capitalize;
          font-weight: 400;
          >svg{
            position: absolute;
            right: -5px;
            width: 10px;
            height: 10px;
            color: red;
          }
        }
        >input,textarea{
          width: 100%;
          height: 40px;
          border: 1px solid rgb(var(--border));
          border-radius: 6px;
          background: none;
          outline: none;
          padding: 0 10px;
          font-size: 1.025rem;
        }
        >textarea{
          padding-top: 10px;
          height: 150px;
          resize: none;
          grid-column: span 3;
        }
      }
      >button{
        grid-column: span 3;
        background: rgb(var(--primary));
        color: rgb(var(--text-alt));
        text-transform: capitalize;
        height: 40px;
        outline: none;
        border: 1px solid rgb(var(--border));
        border-radius: 10px;
        cursor: pointer;
        &:hover{
          background: rgb(var(--primary-hover));
        }
      }
    }
  }
}
@media(max-width: 1535px){
  div.contact_container {
    > div {
      > div.title {
        > h4 {
          font-size: 2rem;
        }
        > p {
          font-size: 0.975rem;
        }
      }
    }
    >div.left{
      >div.social_media{
        >.social_link{
          gap: 5px;
          >p{
            font-size: 0.9rem;
          }
        }
      }
    }
    >div.right{
      >form{
        >div.contact_input{
          >label{
            font-size: 0.825rem;
          }
          >input {
            height: 35px;
          }
          >textarea{
            height: 100px;
          }
        }
      }
    }
  }
}
@media (max-width: 1279px) {
  div.contact_container{
    grid-template-columns: 2fr 4fr;
  }
}
@media (max-width: 1023px) {
  div.contact_container{
    grid-template-columns: 3fr 5fr;
    >div.right{
      >form{
        grid-template-columns: 1fr 1fr;
        >div.col-2{
          grid-column: span 1;
        }
        >div.col-3{
          grid-column: span 2;
        }
        >div.col-may{
          grid-column: span 2;
        }
        >button {
          grid-column: span 2;
        }
      }
    }
  }
}