footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  border-top: 1px solid rgb(var(--border));
  position: relative;
  overflow: hidden;
  >div.footer_content-container{
    z-index: 2;
    width: var(--page-width);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 20px 0;
    .contact{
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1rem;
      color: rgb(var(--text-hover));
    }
    .sitemap{
      text-transform: capitalize;
      display: flex;
      flex-direction: column;
      justify-self: end;
      text-align: end;
      >h3{
        padding-bottom: 5px;
      }
      >a{
        font-weight: 300;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    >.social{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;
      width: 100%;
      >figure {
        align-self: center;
      }
      >div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        >a{
          border-radius: 50%;
          color: rgb(var(--text-disabled));
          border: 1px solid rgb(var(--border));
          padding: 6px;
          background: rgb(var(--border-disabled));
          &:hover{
            color: rgb(var(--border-hover));
            background: rgb(var(--border));
          }
          >svg{
            width: 26px;
            height: 26px;
          }
        }
      }
    }
  }
  >figure{
    position: absolute;
    color: rgb(var(--border));
    bottom: 0;
  }
  >figure.left{
    left: 0;
    width: 80px;
  }
  >figure.center{
    width: 100%;
    left: -20%;
    z-index: -2;
    color: rgb(var(--border-hover));
  }
  >figure.right{
    right: 0;
    width: 180px;
  }
}
div.cc{
  width: 100%;
  height: fit-content;
  border-top: 1px solid rgb(var(--border));
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

@media (max-width: 1535px) {
  footer{
    >div.footer_content-container{
      >.sitemap{
        font-size: 0.9rem;
      }
      >.contact{
        font-size: 0.9rem;
      }
      >.social{
        >figure{
          >img{
            width: 24px;
          }
        }
        >div > a{
          padding: 4px;
          >svg{
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
  div.cc{
    padding: 15px 0;
    font-size: 0.95rem;
  }
}