html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
html{
  font-family: "Jost", sans-serif;
  background: rgb(var(--bg));
  color: rgb(var(--pxtext));
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
}
body .bordered{
  border: 1px solid rgb(var(--border));
}
body{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
main{
  margin-top: 150px;
  max-width: 75%;
  align-self: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
a{
  text-decoration: none;
  color: rgb(var(--text));
  box-sizing: border-box;
}

.btn{
  cursor: pointer;
  text-transform: capitalize;
  padding: 5px 20px;
  outline: none;
  font-weight: 500;
  border-radius: 15px;
  height: 100%;
  background: rgb(var(--bg));
  border: 1px solid rgb(var(--border));
  color: rgb(var(--text));
  display: flex;
  align-items: center;
  transition: color 300ms ease;
  &:hover{
    background: rgb(var(--primary-hover));
    color: white;
  }
}

.btn.primary{
  background: rgb(var(--primary));
  color: rgb(var(--text-alt));
  border: none;
  &:hover{
    background: rgb(var(--primary-hover));
  }
  &:active{
    background: rgb(var(--primary-focus));
  }
}
