html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
html{
  font-family: "Jost", sans-serif;
  background: rgb(var(--bg));
  color: rgb(var(--pxtext));
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
  --page-width: 75%;
  --page-small-width: 45%
}
body .bordered{
  border: 1px solid rgb(var(--border));
}
body{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
main{
  align-self: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main.full{
  margin-top: 125px;
  max-width: var(--page-width);
}
main.short{
  margin-top: 80px;
  max-width: var(--page-small-width);
}
a{
  text-decoration: none;
  color: rgb(var(--text));
  box-sizing: border-box;
}

.btn{
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  font-weight: 500;
  border-radius: 20px;
  background: rgb(var(--bg));
  border: 1px solid rgb(var(--border));
  color: rgb(var(--text));
  display: flex;
  align-items: center;
  transition: color 300ms ease;
  box-sizing: border-box;
  text-wrap: nowrap;
  &:hover{
    background: rgb(var(--primary-hover)) !important;
    color: white;
  }
}

.btn.primary{
  background: rgb(var(--primary));
  color: rgb(var(--text-alt));
  border: none;
  &:hover{
    background: rgb(var(--primary-hover));
  }
  &:active{
    background: rgb(var(--primary-focus));
  }
}

@media (max-width: 1919px) {
  html{
    --page-small-width: 50%
  }
  .btn{
    padding: 7px 18px;
  }
}
@media (max-width: 1535px) {
  html{
    --page-width: 85%;
    --page-small-width: 60%
  }
  main.full{
    margin-top: 130px;
  }
}
@media (max-width: 1279px) {
  html{
    --page-width: 95%;
    --page-small-width: 80%;
  }
}