header.desktop.float{
  width: 50%;
  padding: 5px 5px 5px 30px;
  top: 10px;
  left: 25%;
  background: rgb(var(--surface)/0.6);
  border: 1px solid rgb(var(--border));
  border-radius: 35px;
  align-items: center;
  backdrop-filter: blur(5px);
  >img{
    width: 80px;
  }
  >nav{
    border: none;
    backdrop-filter: none;
    padding: 0;
    >a{
      padding: 6px 20px;
    }
  }
}
header.desktop{
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 80px;
  display: grid;
  align-items: center;
  z-index: 5;
  grid-template-columns: 1fr 1fr 1fr;
  >img{
    width: 95px;
  }
  >nav{
    justify-self: center;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
    box-sizing: border-box;
    background: rgba(var(--bg), 0.8);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    >a{
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 4px 20px;
      border-radius: 20px;
      text-transform: capitalize;
      text-decoration: none;
      color: rgb(var(--text));
      &:hover{
        cursor: pointer;
        background: rgb(var(--primary-hover));
        color: rgb(var(--text-alt));
      }
    }
  }
  >div.header_right{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
  }
}
@media (max-width: 1919px) {
  header.desktop{
    height: 50px;
    >nav{
      >a{
        padding: 4px 16px;
      }
    }
  }
}

@media (max-width: 1535px) {
  header.desktop.float{
    grid-template-columns: 1fr 2fr 2fr;
    >img{
      width: 70px;
    }
  }
  header.desktop{
    font-size: 0.95rem;
    >img{
      width: 80px;
    }
  }
}
@media (max-width: 1279px) {
  header.desktop.float{
    width: 62%;
    left: 19%;
  }
}
@media (max-width: 1024px) {
  header.desktop{
    padding: 0 20px;
  }
  header.desktop.float{
    left: 5%;
    width: 90%;
  }
}
@media (max-width: 767px) {
  header.desktop{
    display: none;
  }
}