header{
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 5px 80px;
  display: grid;
  align-items: start;
  z-index: 10;
  grid-template-columns: 1fr 1fr 1fr;
  >img{
    height: 36px;
  }
  >nav{
    justify-self: center;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    background: rgba(var(--bg), 0.8);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    >a{
      display: flex;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
      padding: 4px 20px;
      border-radius: 20px;
      text-transform: capitalize;
      text-decoration: none;
      color: rgb(var(--text));
      &:hover{
        cursor: pointer;
        background: rgb(var(--primary-hover));
        color: rgb(var(--text-alt));
      }
    }
  }
  >div.header_right{
    display: flex;
    align-content: flex-start;
    justify-content: end;
    height: 42px;
  }
}