section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Teko", sans-serif;
  padding-top: 100px;
}
.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  width: 800px;
  >h1.title{
    font-weight: 400;
    font-size: 5.75rem;
    text-align: center;
    line-height: 0.9;
    position: relative;
    z-index: 1;
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    &:before{
      content: "";
      position: absolute;
      width: 380px;
      height: 20px;
      bottom: 15px;
      background: rgb(var(--border-hover)/0.8);
      z-index: -5;
      border-radius: 10px;
    }
  }
  >h4.description{
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    white-space: pre-wrap;
  }
}
.form-container{
  display: flex;
  border: 1px solid rgb(var(--border));
  width: 35%;
  height: 45px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 25px;
  padding: 2.5px;
  &:focus-within{
    border-color: rgb(var(--border-hover));
    box-shadow: 0 0 0 1px rgba(var(--primary), 0.1);
  }
  >div.figure{
    >svg{
      width: 24px;
      height: 24px;
    }
    width: fit-content;
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: rgb(var(--text-hover));
  }
  >form{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    >input{
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      font-size: 1rem;
      &::placeholder{
        text-transform: capitalize;
        font-size: 0.875rem;
      }
    }
    >button.btn{
      position: absolute;
      right: 0;
      font-weight: 300;
      font-family: "Jost", sans-serif;
      padding: 5px 25px;
      height: 100%;
      border-radius: 25px;
      background: rgb(var(--surface));
      border: 1px solid rgb(var(--border-disabled));
      font-size: 1rem;
      &:focus{
        outline: none;
      }
    }
  }
}
@media (max-width: 1919px) {
  .form-container{
    width: 40%;
  }
}
@media (max-width: 1535px){
  .title-container{
    >h1.title{
      font-size: 4.75rem;
      &:before{
        width: 300px;
      }
    }
    >h4.description{
      font-size: 0.925rem;
    }
  }
  .form-container{
    width: 45%;
  }
}
@media (max-width: 1023px) {
  .title-container{
    width: 100%;
    >h1.title{
      font-size: 4.25rem;
    }
  }
  .form-container{
    width: 80%;
  }
}