div.ide-container {
  width: 100%;
  margin-top: 50px;
  height: fit-content;
  border-radius: 15px;
  background: rgb(var(--bg));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  >div.ide_header {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid rgb(var(--border));
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
    justify-content: space-between;
  }
  >div.ide_body{
    display: grid;
    grid-template-columns: minmax(0px, 50px) minmax(0px, 250px) 1fr;
    height: 100%;
    box-sizing: border-box;
    >div.br{
      border-right: 1px solid rgb(var(--border));
    }
    >div.ide_left-menu{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      gap: 10px;
      >.ide_left-menu--icon{
        width: 32px;
        height: 32px;
        color: rgb(var(--text-hover));
        padding: 5px;
        border-radius: 10px;
        &:hover{
          background: rgb(var(--primary-hover));
          color: rgb(var(--text-alt));
          cursor: pointer;
        }
      }
      >.ide_left-menu--icon.active{
        color: rgb(var(--text-alt));
        background: rgb(var(--primary));
      }
    }
    >div.ide_left-explorer{
      padding: 15px 10px;
      >div.ide_left-explorer--title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      >ul{
        overflow-y: auto;
        overflow-x: visible;
      }
      >ul,ol{
        list-style: none;
        width: 100%;
        font-weight: 300;
        padding-left: 0;
        >li{
          width: 100%;
          display: flex;
          gap: 5px;
          align-items: center;
          border-radius: 5px;
          user-select: none;
          padding-left: 5px;
          &:hover{
            background: rgb(var(--border-disabled));
            cursor: pointer;
          }
          >figure{
            min-width: 15px;
            min-height: 15px;
            width: 15px;
            height: 15px;
          }
        }
        >ol{
          list-style: none;
          padding-left: 15px;
          font-weight: 300;
        }
      }
    }
  }
}