header.quick_header{
  width: 100%;
  position: fixed;
  top: 15px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
  >button{
    height: 100%;
    padding: 5px 30px;
    outline: none;
    background: rgb(var(--primary));
    color: rgb(var(--text-alt));
    border: 1px solid rgb(var(--border));
    border-radius: 15px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1rem;
    &:hover{
      background: rgb(var(--primary-hover));
    }
  }
}
div.quick_profile-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Jost", sans-serif;
  >div.quick_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    >img{
      width: 180px;
      border-radius: 50%;
      border: 4px solid rgb(var(--border));
      transition: filter 300ms ease-in-out, transform 300ms ease-in-out;
      filter: grayscale(10);
      &:hover{
        filter: grayscale(0);
        transform: scale(1.02);
      }
    }
    >h4{
      margin-top: 20px;
      font-size: 3.725rem;
      font-weight: 400;
      font-family: "Teko", sans-serif;
      text-transform: capitalize;
    }
    >h5{
      margin-top: -30px;
      font-family: "Jost", sans-serif;
      font-size: 1.45rem;
      font-weight: 400;
    }
    >p{
      padding: 20px 0;
      text-align: center;
      font-size: 1rem;
      font-weight: 300;
      width: 80%;
    }
  }
  >div.social_media{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    >a{
      padding: 10px;
      border: 1px solid transparent;
      >svg{
        width: 24px;
        height: 24px;
      }
      &:hover{
        box-shadow: 4px 4px 8px rgb(var(--border));
        border: 1px solid rgb(var(--border)/0.4);
      }
    }
  }
  >div.resume_item-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    >h5{
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    >div.resume_item-content.list{
      display: flex;
      flex-direction: column;
      gap: 25px;
      >div.resume_item-list{
        display: flex;
        align-items: start;
        gap: 10px;
        >figure{
          margin-top: 10px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: rgb(var(--text));
        }
        >div.resume_item-list--item{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 6px;
          >h4{
            font-weight: 500;
            text-transform: capitalize;
          }
          >p{
            padding-left: 20px;
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 1rem;
            text-transform: capitalize;
          }
          >ul{
            width: 100%;
            padding-left: 5px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            list-style: none;
            gap: 8px;
            >li{
              background: rgb(var(--border)/0.8);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
              padding: 2px 0;
              text-transform: capitalize;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
    >div.resume_item-content.grid{
      width: 100%;
      display: grid;
      align-items: center;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      >div.resume_item-grid{
        border: 1px solid rgb(var(--border));
        border-radius: 10px;
        background: rgb(var(--bg)/0.5);
        transition: transform 300ms ease-in-out, color 300ms ease-in-out;
        &:hover{
          transform: scale(1.02);
          background: rgb(var(--surface)/0.5);
        }
        >picture{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 200px;
          >h3{
            font-weight: 600;
            font-size: 2rem;
          }
        }
        >div.project_body{
          padding: 15px;
          >h5{
            font-weight: 500;
            font-size: 1.725rem;
            font-family: "Teko", sans-serif;
          }
          >p{
            font-weight: 300;
            font-size: 0.95rem;
          }
          >ul{
            padding: 10px 0;
            display: flex;
            align-items: flex-start;
            list-style: none;
            gap: 5px;
            >li{
              padding: 3px 12px;
              background: rgb(var(--border)/0.6);
              border-radius: 8px;
              text-transform: capitalize;
              font-size: 0.875rem;
            }
          }
          >p.details{
            font-size: 0.925rem;
          }
        }
      }
    }
  }
}