div.quick_profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Jost", sans-serif;
  >img{
    width: 180px;
    border-radius: 50%;
    border: 4px solid rgb(var(--border));
  }
  >h4{
    margin-top: 20px;
    font-size: 3.725rem;
    font-weight: 400;
    font-family: "Teko", sans-serif;
    text-transform: capitalize;
  }
  >h5{
    margin-top: -30px;
    font-family: "Jost", sans-serif;
    font-size: 1.45rem;
    font-weight: 400;
  }
  >p{
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
  }
}