section{
  >div.section_title{
    border: 1px solid rgb(var(--border));
    border-radius: 20px;
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    gap: 0;
    >h4{
      font-family: "Jost", sans-serif;
      font-size: 1.125rem;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  >div{
    position: relative;
    >figure{
      position: absolute;
      top: 35px;
      z-index: -1;
      background-color: rgb(var(--border-hover));
      border-radius: 12px;
      height: 15px;
    }
    >h3{
      font-family: "Jost", sans-serif;
      font-size: 2.75rem;
      text-transform: capitalize;
    }
  }
  >div.content{
    width: 100%;
    height: fit-content;
    padding: 50px 0;
  }
}