section{
  display: flex;
  flex-direction: column;
  gap: 15px;
  >div.section_title{
    border: 1px solid rgb(var(--border));
    border-radius: 20px;
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    >h4{
      font-family: "Jost", sans-serif;
      font-size: 1.125rem;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  >div{
    position: relative;
    >h3{
      font-family: "Jost", sans-serif;
      font-size: 2.75rem;
      text-transform: capitalize;
    }
  }
  >div.content{
    width: 100%;
    height: fit-content;
    padding: 30px 0;
  }
}
@media (max-width: 1919px) {
  section{
    >div.section_title{
      >h4{
        font-size: 1.025rem;
      }
    }
    >div{
      >h3{
        font-size: 2.7rem;
      }
    }
  }
}
@media (max-width: 1279px){
  section{
    >div.section_title > h4{
      font-size: 0.925rem;
    }
    >div > h3{
      font-size: 2rem;
    }
  }
}
@media (max-width: 639px) {
  section{
    >div.section_title > h4{
      font-size: 0.875rem;
    }
    >div > h3{
      font-size: 1.75rem;
      text-align: center;
    }
  }
}