ul.services_container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  >li{
    border: 1px solid rgb(var(--border));
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: color 300ms ease, transform 300ms ease;
    &:hover{
      background-color: rgb(var(--surface)/0.6);
      transform: scale(1.05);
    }
    >div{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      >div{
        display: flex;
        align-items: center;
        gap: 10px;
        figure{
          min-width: 40px;
          min-height: 40px;
          border-radius: 20px;
          background: rgb(var(--border));
          display: flex;
          align-items: center;
          justify-content: center;
          >svg{
            min-width: 24px;
            min-height: 24px;
            width: 24px;
            height: 24px;
          }
        }
        >h4{
          font-size: 1.75rem;
          font-weight: 400;
        }
      }
      >p{
        font-family: "Jost", sans-serif;
        padding: 3px 12px;
        background: rgb(var(--border));
        border-radius: 10px;
        text-transform: capitalize;
      }
    }
    >figure{
      width: 100%;
      height: 1px;
      background: rgb(var(--border));
    }
    >ol{
      display: flex;
      padding-left: 0;
      align-items: center;
      justify-content: start;
      gap: 5px;
      list-style: none;
      li{
        font-family: "Jost", sans-serif;
        padding: 3px 12px;
        background: rgb(var(--border)/0.6);
        font-weight: 300;
        border-radius: 8px;
      }
    }
    >p{
      text-align: start;
      font-family: "Jost", sans-serif;
      font-size: 1.075rem;
    }
    >p.service_subtitle{
      font-weight: 400;
      font-style: italic;
    }
    >p.service_description{
      font-weight: 300;
    }
  }
}