ul.services_container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  >li{
    border: 1px solid rgb(var(--border));
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    >div{
      width: 100%;
      display: flex;
      gap: 10px;
      figure{
        min-width: 45px;
        border-radius: 20px;
        background: rgb(var(--border-disabled));
        display: flex;
        align-items: center;
        justify-content: center;
        >svg{
          min-width: 24px;
          min-height: 24px;
          width: 24px;
          height: 24px;
        }
      }
      >h4{
        font-size: 1.75rem;
        font-weight: 400;
      }
    }
    >p{
      text-align: start;
      font-family: "Jost", sans-serif;
      font-size: 1.075rem;
    }
  }
}