ul.services_container {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  padding-left: 0;
  gap: 20px;
  >li{
    width: 100%;
    border: 1px solid rgb(var(--border));
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    transition: color 300ms ease, box-shadow 300ms ease;
    &:hover{
      background-color: rgb(var(--surface)/0.4);
      box-shadow: 5px 5px 10px rgb(var(--border));
    }
    >div{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      >div{
        display: flex;
        align-items: center;
        gap: 10px;
        figure{
          min-width: 40px;
          min-height: 40px;
          border-radius: 20px;
          background: rgb(var(--border));
          display: flex;
          align-items: center;
          justify-content: center;
          >svg{
            min-width: 24px;
            min-height: 24px;
            width: 24px;
            height: 24px;
          }
        }
        >h4{
          font-size: 1.75rem;
          font-weight: 400;
        }
      }
      >p{
        font-family: "Jost", sans-serif;
        padding: 2px 10px;
        background: rgb(var(--border));
        border-radius: 10px;
        text-transform: capitalize;
        font-size: 0.925rem;
      }
    }
    >figure{
      width: 100%;
      height: 1px;
      background: rgb(var(--border));
    }
    >ol{
      display: flex;
      padding-left: 0;
      align-items: center;
      justify-content: start;
      gap: 5px;
      list-style: none;
      flex-wrap: wrap;
      li{
        font-family: "Jost", sans-serif;
        padding: 2px 10px;
        background: rgb(var(--border)/0.6);
        font-weight: 300;
        font-size: 0.925rem;
        text-wrap: nowrap;
        border-radius: 8px;
      }
    }
    >p{
      text-align: start;
      font-family: "Jost", sans-serif;
      font-size: 1.075rem;
    }
    >p.service_subtitle{
      font-weight: 400;
      font-style: italic;
    }
    >p.service_description{
      font-weight: 300;
    }
  }
}

@media (max-width: 1535px){
  ul.services_container{
    >li{
      gap: 10px;
      >ol{
        >li{
          font-size: 0.875rem;
        }
      }
      >div{
        >div{
          >figure{
            min-width: 32px;
            min-height: 32px;
            >svg{
              min-width: 20px;
              min-height: 20px;
              width: 20px;
              height: 20px;
            }
          }
          >h4{
            font-size: 1.5rem;
          }
        }
        >p{
          font-size: 0.875rem;
        }
      }
      >p.service_subtitle{
        font-size: 0.975rem;
      }
      >p.service_description{
        font-size: 0.95rem;
      }
    }
  }
}