---
interface Props{
    src: string;
    first_name: string;
    position: string;
    last_name: string;
    email: string;
}
const props = Astro.props;
---
<div class="about_profile">
    <img src={props.src} alt="janz profile image" />
    <div class="about_content">
        <p class="name">
            <span>{props.first_name}</span>
            <span>{props.last_name}</span>
        </p>
        <p class="position">{props.position}</p>
    </div>
</div>