---

---
<footer>
    <p>designed by Razor and Janz</p>
    <p>developed by Janz</p>
</footer>
<style>
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border-top: 1px solid rgb(var(--border));
        padding: 0 25px;
        >p{
            font-family: "Jost", sans-serif, serif;
            font-size: 1.1rem;
        }
    }
</style>