---
import {getEntry} from "astro:content";
import "@/styles/hero.scss"
import EmailIcon from "@/assets/icons/system/EmailIcon.astro";
const locale = Astro.currentLocale!;
const entry = await getEntry("hero", locale);
if(!entry) return;
const data = entry.data;
---
<section>
    <div class="title-container">
        <figure class="vector"/>
        <h1 class="title">{data.headline}</h1>
        <h4 class="description">{data.description}</h4>
    </div>
    <div class="form-container">
        <div class="figure">
            <EmailIcon/>
        </div>
        <form method="POST" id="justemail">
            <label for="email" class=""></label>
            <input id="email" required name="email" placeholder={data.enter} type="email" />
            <button type="submit" class="btn">contact</button>
        </form>
        <script>
            import setupForm from "@/services/contact_service.ts";
            setupForm("justemail")
        </script>
    </div>
</section>